body
{
    color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #313131;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
h1
{
    color: orange;
    font-size: 2.5em;
}
h2
{
    margin-top: 2em;
}

input
{
    border: solid white 0.6em;
    padding: 5em;
    background: #313131;
    border-radius: 2em;
    margin-right: 2em;
    margin-top: 2em;
    width: 10em;
    height: 10em;
    align-items: center;
}

